aioredis
asyncio
bcrypt==4.0.1
coverage
fastapi
httpx
passlib==1.7.4
pydantic
pydantic-settings
pydantic[email]
pytest
pytest-asyncio 
pytest-cov
python-jose
sqlalchemy
uvicorn
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
twisted